@font-face {
	font-family:'Trebuchet';
	src:	url('../fonts/trebuc.eot')format('embedded-opentype');
	src:	url('../fonts/trebuc.woff2')format('woff2'),
			url('../fonts/trebuc.woff')format('woff');
	font-weight: 400;
	font-style: normal;
}


@font-face {
	font-family:'Arial';
	src:	url('../fonts/ARIALBD.woff2')format('woff2'),
			url('../fonts/ARIALBD.woff')format('woff');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family:'Arial';
	src:	url('../fonts/ARIAL.woff2')format('woff2'),
			url('../fonts/ARIAL.woff')format('woff');
	font-weight: 400;
	font-style: normal;
}
